body {
    background-color: rgb(0, 43, 78);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

img {
    position: relative;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

input {
    position: relative;
    display: inline;
    width: 168;
    padding: 10px;

    font-family: Andale Mono, monospace;
    font-size: 12px;
    text-align: center;
    color: white;

    background-color: rgb(0, 37, 68);
    border: 2px solid rgb(0, 91, 165);
    border-radius: 10px;
}

div {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-family: Andale Mono, monospace;
    color: white;
    text-align: center;
}

a {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: rgba(255, 255, 255, 0.5);
}

bigger {
    font-size: xx-large;
}

button {
    background-color: rgb(0, 65, 117);
    color: white;
    font-size: 16px;
    text-decoration: none;

    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.5);

    position: absolute;
    right: 10px;
    bottom: 50px;
    padding: 15px 20px;
}